/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fons/Roboto-400-cyrillic-ext.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto" , sans-serif;

}

.advantages{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: content-box;
}

.footer-background{
    background-color: #10367C;
    padding: 127px 272px 113px 104px;


}

.container{
    display: flex;
    justify-content: space-between;
}

.footer-column{
    line-height:45px;
    margin-left: -5px;



}

ul{
    list-style: none;
    font-size: 20px;
    color: #ffffff;

}


.footer-2020{
    padding-top: 64px;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 400;

}




