* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hider-background{

}

header{
    display: flex;
    justify-content: space-between;
    padding: 60px 105px;

}

.nav-vraper{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    display: flex;
    justify-content: space-between;

}

ul{
    list-style: none;
    padding-right: 48px;
}

li{
    padding-right: 24px;
}

.nav-link-icon{
    padding-left: 24px;
}


.container{
    display: flex;
    justify-content: space-between;
    padding: 60px 105px;
}

.text-container{
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 145px;
}


.app-google{
    display: flex;
    justify-content: center;
    padding: 60px 105px;
}

.mir{
    height: 64px;
    width: 430px;
    border-radius:  8px  0 0 8px;
}


.date{
    height: 64px;
    width:259px;
}

.number{
    height: 64px;
    width:240px;
}
.search{
    height: 64px;
    width:192px;
    border-radius: 8px;
    background-color: #3077C6;
    font-size: 20px;
}









