*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-sing{
    display: flex;
    min-width:1232px;
    padding: 16px  0;
    background-color: #EAF0F9;

}

.span{
    color: #383838;
    margin-top:51px;
    font-size: 24px;
    font-weight: 500;

}

.user-icon{
    padding: 57px  24px;
}

.column-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


}

.sign-up{
    height: 48px;
    width: 128px;
    margin-top:21px;
    font-size:18px ;
    color: #3077C6;
    border: 1px solid  #3077C6;
}

.vector{
    height: 26px;
    width: 26px;
    position: absolute;
    top:24px ;
    right:24px ;
}

